head
	meta(charset=utf-8)
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(type="text/css" rel='stylesheet', href='./index.css')
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
	script(src="./index.js" async defer)
	title ▮ avessy ●
body.fancy
	bb#main
	db#credits
		a(href='https://github.com/tynrare/avessy-220701') source
		version v0
		timestamp 220701 01:44
